/* shared */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo{
  width: 139px;
  height: 60px;
   display: flex;
  justify-content: space-between;
}
.logo .first-logo {
 width: 46.51px;
 height: 56px;
 margin: 2px 6.75px;
}
.logo .second-logo{
  width: 71px;
  height: 51px;
  margin: 5px 6.3px;
}
.btn {
  padding: 12px 16px;
  gap: 20px;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600px;
  font-size: 16px;
  cursor: pointer;
}
.green{
  color: #469165;
}


/* main */
header #banner{
  background: url(../image/study-pic.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}


nav {
  width: 74%;
  max-width: 1535px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 16px 120px;
}
nav .menu {
  display: flex;
  gap: 32px;
  list-style-type: none;
 
  align-items: center;
 
}
nav .menu a {
  width: 365px;
  height: 24px; 
  text-decoration: none;
  color: black;
}

.banner-container{
  padding: 115.5px 120px 179.5px;
  text-align: center;
 }
 #banner .banner-content{
  max-width: 1360px;
  
 }
#bttn{
  padding: 8px 12px;
  border: none;
  border-radius: 1000px;
  color: #469165;
  font-size: 16px;
  font-weight: 500px;
  margin-top: 115.5px;
  cursor: pointer;
}
.banner-content h1{
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  margin: 16px auto;
}
.banner-content p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 32px;
  color: white;
}
.button-box {
  margin-bottom: 180px;
  gap: 16px;
  text-align: center;
}
.btnn {
    padding: 12px 16px;
    gap: 20px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  font-weight: 600px;
  font-size: 16px;
  cursor: pointer;
}