/* shared */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo{
  width: 139px;
  height: 60px;
   display: flex;
  justify-content: space-between;
}
.logo .first-logo {
 width: 46.51px;
 height: 56px;
 margin: 2px 6.75px;
}
.logo .second-logo{
  width: 71px;
  height: 51px;
  margin: 5px 6.3px;
}
.btn {
  padding: 12px 16px;
  gap: 20px;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600px;
  font-size: 16px;
  cursor: pointer;
}
.green{
  color: #469165;
}


/* main */
header{
 
}

header #banner{
  background: url(../image/study-pic.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}


nav {
   width: 74%;
  max-width: 1535px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 16px 120px;
}
nav .menu {
  display: flex;
  gap: 32px;
  list-style-type: none;
  align-items: center;
 
}
nav .menu a {
  width: 365px;
  height: 24px; 
  text-decoration: none;
  color: black;
}

.banner-container{
  padding: 115.5px 120px 179.5px;
  text-align: center;
 }
 #banner .banner-content{
  max-width: 1360px;
  
 }
#bttn{
  padding: 8px 12px;
  border: none;
  border-radius: 1000px;
  color: #469165;
  font-size: 16px;
  font-weight: 500px;
  margin-top: 115.5px;
  cursor: pointer;
}
.banner-content h1{
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  margin: 16px auto;
  color: white;
}
.banner-content p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 32px;
  color: white;
}
.button-box {
  margin-bottom: 180px;
  gap: 16px;
  text-align: center;
}
.btnn {
  padding: 12px 16px;
  gap: 20px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  font-weight: 600px;
  font-size: 16px;
  cursor: pointer;
}
#notes{

 padding: 0 120px;
 /* border: 1px solid red; */


}
 .section-heading {
  margin: 0 auto;
  text-align: center; 

}
.section-heading h1{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin: 50px auto 0px;

}
.section-heading p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 44px;


}
#notes .notes-container .card-box {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  
}
.card-box .card-content{
  padding: 24px;
  max-width:  274px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 8px 0 50px #00000012;
}
.card-box .card-content img{
  width: 60px;
  margin-top: 69.5px;
}
.card-box .card-content h3 {

  font-size: 24px;
  font-weight: 600;
  color: #001931;
}
.card-box .card-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}
#info .info-container {
  max-width: 1360px;

  
}
.info-container{
  display: flex;
  justify-content: space-between;
  margin: 120px;
  gap: 40px;
}
 .info-pic img{
  max-width: 600px;
  border-radius: 12px;
 }
#info .solution {
  max-width: 700px;
  max-height: 396px;
  margin: 102px 0;
  

}
.solution .head-title{
  font-size: 20px;
  font-weight: 500;
  color: #469165;
  margin-bottom: 16px;
}
.solution h1{
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
.solution .summary{
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
.solution .concepts {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #001931;
}
#read .read-contant {
  max-width: 1360px;
  /* border: 1px solid red; */
  margin: 2px 120px 120px;
  text-align: center;
  background-color: #f7f6f2 ;
  padding: 80px 40px;
  border-radius: 12px;
}
.read-contant h1{
  font-size: 40px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
.read-contant p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
}
footer{
  background-color: #001931;
}

.social-box {

  max-width: 1360px;
  max-height: 90px;
  display: flex;
  justify-content: space-between;
  margin: 120px;
  padding-top: 120px;
}
.social-link {
  max-width: 220px;
}
.social-link p{
  font-size: 20px;
  font-weight: 28px;
  line-height: 28px;
  color: white;

}
.social-link img{
  max-width: 20px;
  padding: 4px;
}
footer hr{
  max-width: 1360px;
}
.copyright {
  text-align: center;
  color: white;
  font-size: 16px;
  padding-bottom: 24px;
}